<p id="notice"><%= notice %></p>

<h1>Listing Rsses</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rsses.each do |rss| %>
      <tr>
        <td><%= rss.url %></td>
        <td><%= rss.category %></td>
        <td><%= link_to 'Show', rss %></td>
        <td><%= link_to 'Edit', edit_rss_path(rss) %></td>
        <td><%= link_to 'Destroy', rss, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rss', new_rss_path %>
